@page "/"
@namespace BlazorFirstApp_FromScratch.Pages
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Blazor First App</title>
        <base href="~/"/>
        <componenet typeof="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="m-1 p-1">
        <component type="typeof(App)" render-mode="ServerPrerendered" />
        </div>
        
        <script src="_framework/blazor.server.js"></script>
    </body>
</html>